:root {
  margin: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 0.8em;
}

body {
  margin: 0.2rem;
}

h1 {
  font-size: 1rem;
  margin: 0.2rem;
}

#choices {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.2rem;
}

.choice {
  padding: 0.2rem;
  background-color: #ddd;
  cursor: pointer;
}

.choice:hover {
  background-color: #eee;
}

.choice.selected {
  background-color: #dfd;
}
.choice.selected:hover {
  background-color: #efe;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.2rem;
  text-align: left;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0;
  padding: 0;
  font-style: italic;
}
