html {
  margin: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
}

body {
  margin: 0.2em;
}

h1 {
  font-size: 1em;
  margin: 0.2em;
}

#choices {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.2em;
}

.choice {
  padding: 0.2em;
  background-color: #ddd;
  cursor: pointer;
}

.choice.wide {
  grid-column: 1 / span 2;
}

.choice:hover {
  background-color: #eee;
}

.choice.selected {
  background-color: #dfd;
}
.choice.selected:hover {
  background-color: #efe;
}

.choice.selected.red {
  background-color: #fdd;
}
.choice.selected.red:hover {
  background-color: #fee;
}
